---
import MainLayout from "../../layout/MainLayout.astro";

export async function getStaticPaths() {
  const data = await fetch("https://nlpgwdmoeqpqkoifrvrz.supabase.co/rest/v1/eventkalender", {
    method: "GET",
    headers: {
      apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5scGd3ZG1vZXFwcWtvaWZydnJ6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDc3NDc1ODIsImV4cCI6MjA2MzMyMzU4Mn0.rDmD82X5l5_i6v2xIQxYAF8jQ2j7-cmthouUG3s7d5k",
    },
  }).then((response) => response.json());

  return data.map((event) => {
    return {
      params: { slug: event.slug },
      props: { myData: event },
    };
  });
}

const { myData } = Astro.props;
console.log(myData);
---

<MainLayout title={myData.title}>
  <a href="/eventcalender">
    <svg class="tilbage" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="var(--secondary)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
      <polyline points="9 6 15 12 9 18"></polyline>
    </svg>
  </a>
  <section>
    <div>
      <h1>{myData.title}</h1>
      <h3>{myData.undertitle}</h3>
      <p>{myData.interview}</p>
    </div>
    <img class="plakat" src={myData.plakat} alt={myData.title} />
  </section>

  <img class="form" src="/img/kalender/formevent.webp" alt="grøn organisk form" />
</MainLayout>

<style>
  h1,
  h3,
  p {
    padding-bottom: 1.5rem;
  }

  .plakat {
    padding-top: 2rem;
    padding-bottom: 4rem;
  }

  .tilbage {
    transform: rotate(180deg);
    width: 45px;
    height: 45px;
    margin-bottom: 1rem;
  }

  .form {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    width: 100%;
    height: auto;
  }

  @media (min-width: 780px) {
    section {
      display: grid;
      grid-template-columns: 1fr 2fr;
    }

    .plakat {
      order: -1;
      max-height: 650px;
      width: auto;
      padding-top: 0;
    }

    div {
      padding-left: 5rem;
    }
  }

  @media (min-width: 900px) {
    .form {
      width: 60%;
      height: auto;
    }
  }
</style>
